<div>
  <h2>Search Result</h2>
  <button type="button" (click)="goBack()">Back</button>
</div>
<table *ngIf="movies != null">
  <tr *ngFor="let m of movies; index as i">
    <td>
      <img [src]="m.image ? m.image : '../../assets/placeholder.jpg'" />
    </td>
    <td>
      <div class="container">
        <table>
          <tr>
            <td>
              <a href="{{ m.reviewUrl }}" target="_blank"> {{ m.title }}</a>
            </td>
            <td>{{ m.rating }}</td>
          </tr>
          <tr>
            <td>{{ m.headline }}</td>
          </tr>
          <tr>
            <td>{{ m.summary }}</td>
          </tr>

          <tr>
            <td>Comments:{{ m.commentCount }}</td>
            <td>
              <button [routerLink]="['/comment', m.title]">Comment</button>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<h3 *ngIf="hasItLoaded && movies.length == 0">
  Your Search Produces No Result
</h3>
